
$magnitudeTypes: (
  micro: green,
  minor: green,
  light: yellow,
  moderate: orange,
  strong: orange,
  major: red,
  great: red
);

@mixin glowing($magnitudeColor) {
  border: solid 5px $magnitudeColor;
  -webkit-animation: #{$magnitudeColor} 3s ease-in-out infinite alternate;
  -moz-animation: #{$magnitudeColor} 3s ease-in-out infinite alternate;
  animation: #{$magnitudeColor} 3s ease-in-out infinite alternate;

  @keyframes #{$magnitudeColor} {
    0% {background: #{$magnitudeColor}; border: #FFF;}
    50% {background: #FFF; border: #{$magnitudeColor};}
    100% {background: #{$magnitudeColor}; border: #FFF;}
  }
}

.magnitude {
  $magSize: 25px;

  width: $magSize;
  height: $magSize;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;

  @each $name, $magnitudeType in $magnitudeTypes {
    &.#{$name} {
      @include glowing($magnitudeType);
    }
  }
}