@import "./overwrites";
@import "../vendor/csshake.scss";
@import "../js/components/Magnitude/Magnitude.scss";

.main-header {
  background-color: $mahogany;
  &.jumbotron {
    margin-bottom: 0;
    .shake {
      border: solid 5px $buttercup;
      padding: 2px 16px;
    }
  }
}

.feed {
  background-color: $kilamanjaro;
  width: 80%;
  margin: auto;
}

.eartquake-list-inner {
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  &.showUp {
    opacity: 1;
    transition-delay: 0s;
  }
  &.hide-list {
    opacity: 0;
  }
  span {
    font-size: 0.9em;
  }
}

.eartquake-list-controls {
  .btn {
    margin-top: 30px;
    background-color: $buttercup;
    color: $mahogany;

  }
}
